body{
    padding: 0%;
    margin: 0%;
    background-image: url("/static/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-control{
    border: none;
    border-bottom: black 2px;
    border-radius: 50px;
    text-align: center;
    background: #ffffffc1;
}
.form-bg{
    background: #ffffff77;
    margin-top: 10vh;
    width: 25vw;
    height: fit-content;
    border: none;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}
.form-lable{
    font-size: 25px;
}
.error{
    color: red;
}
.form-select{
    text-align: center;
    border-radius: 50px;
}